* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Nav Bars */
.nav-1{
    background-color: #131921;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 60px;
}

.nav-1 .logo{
    display: inline-block;
    background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    background-position: -10px -51px;
    width: 97px;
    height: 30px;
}

