* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;;
    color: #000;
    line-height: 1.6;
}

.main-header {
    display: flex;
    background-color: #9933cc;
    height: 15vh;
    width: 100vw;
}

.main-navbar{
    display: flex;
    flex-direction: column;
    background-color: #33b5e5;
    width: 15vw;
    height: 30vh;
}

.main-art {
    display: flex;
    flex-direction: column;
    background-color: #33b5e5;
    width: 20vw;
    height: 75vh;
}

.main-footer {
    display: flex;
    background-color: #0099cc;
    height: 10vh;
    width: 100vw;
}

.main-sec {
    display: flex;
    width: 65vw;
    height: 75vh;
}