* {
    margin: 0;
}

nav#main-nav{
    height: 10vh;
    width: auto;
    display: flex;
    background-color: black;
    justify-content: space-around;
}

div#left-nav{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
}

div#right-nav{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: white;
}